@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

:root {
  --font: "Spartan", sans-serif;
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --black-transparent: hsla(0, 0%, 0%, 0.5);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}

/* CSS Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  color: var(--dark-gray);
  font-family: var(--font);
  font-weight: 500;
  font-size: 1.2rem;
}

img {
  display: block;
}

button {
  background: none;
  border: 1px solid transparent;
}

/* Shared Styles */

.paragraph {
  line-height: 2rem;
  letter-spacing: -0.25px;
}

/* Header */
.header {
  position: absolute;
  top: 4.8rem;
  left: 2.4rem;
  width: min(100%, 19.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

/* Navigation */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.7rem 2.4rem 4.7rem 2.6rem;
  z-index: 10;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}

.nav::before {
  content: "";
  background-color: var(--black-transparent);
  width: 100vw;
  height: calc(100vh - 11.2rem);
  position: absolute;
  top: 11.2rem;
  left: 0;
}

.nav.open {
  transform: translateX(0);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.nav-link {
  color: var(--black);
  font-weight: 600;
  line-height: 1.3rem;
  letter-spacing: -0.5px;
  text-transform: lowercase;
  text-decoration: none;
}

.lock-scroll {
  overflow: hidden;
}

/* Shop Now */

.slider-container {
  position: relative;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.shop-now {
  padding: 7.2rem 3.2rem;
}

.img-shop-now {
  width: 100%;
}

.heading-shop-now {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3.1rem;
  letter-spacing: -1.16667px;
  color: var(--black);
}

.shop-now .paragraph {
  margin-top: 1.4rem;
}

.shop-now-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 10px;
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 5.2rem;
}

.arrow-icon {
  margin-left: 3.3rem;
  display: inline-block;
}

.wrapper-control {
  background-color: var(--black);
  display: flex;
  position: absolute;
  top: 30.4rem;
  right: 0;
}

.btn-control {
  width: 5.6rem;
  height: 5.6rem;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-icon {
  width: 0.84rem;
}

/* About */

.img-about {
  width: 100%;
}

.about {
  padding: 5.6rem 3.2rem;
}

.heading-about {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2.2rem;
  letter-spacing: 5px;
  color: var(--black);
  text-transform: uppercase;
}

.about .paragraph {
  margin-top: 0.9rem;
}

/* Footer */

.attribution {
  margin: 1rem;
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: var(--black);
  text-decoration: none;
}

/* Media Queries */

@media screen and (min-width: 376px) {
  /* Header */

  .header {
    top: 6.4rem;
    left: 6.4rem;
    width: 36.1rem;
  }

  .mobile-nav {
    display: none;
  }

  /* Navigation */

  .nav {
    position: static;
    background-color: transparent;
    width: auto;
    padding: 0;
    transform: translateX(0);
  }

  .nav::before {
    content: none;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 3.2rem;
  }

  .nav-link {
    color: var(--white);
  }

  /* Shop Now */

  .slide {
    display: none;
    grid-template-columns: 1fr 41.1667%;
  }

  .slide.active {
    display: grid;
  }

  .shop-now {
    padding: 12rem 10rem 0;
    position: relative;
  }

  .img-shop-now {
    width: 100%;
  }

  .heading-shop-now {
    font-size: 4rem;
    line-height: 4.5rem;
    width: min(100%, 40rem);
  }

  .shop-now .paragraph {
    margin-top: 2.2rem;
    width: min(100%, 40rem);
  }

  .shop-now-link {
    margin-top: 3.2rem;
  }

  .wrapper-control {
    top: auto;
    bottom: 0;
    right: 30.1%;
  }

  .btn-control {
    width: 8rem;
    height: 8rem;
  }

  .carousel-icon {
    width: 1.2rem;
  }

  /* About */

  .about-wrapper {
    display: grid;
    grid-template-columns: 29.1667% 1fr 29.1667%;
  }

  .about {
    padding: 6.8rem 4.8rem;
  }

  .about .paragraph {
    width: min(100%, 48.4rem);
  }
}
